[submodule "vender/glfw"]
	path = vender/glfw
	url = https://github.com/glfw/glfw
[submodule "vender/glm"]
	path = vender/glm
	url = https://github.com/g-truc/glm.git
[submodule "vender/imgui"]
	path = vender/imgui
	url = https://github.com/TANK1-41/imgui
	branch = docking
[submodule "vender/assimp"]
	path = vender/assimp
	url = https://github.com/TANK1-41/assimp
